trash_obsolete/thre_image_NN_det_test.py
trash_obsolete/thre_image_NN_test.py
trash_obsolete/thre_image_rand_healpy.py
trash_obsolete/thre_image_rand_obsolete.py
pdf/corr_func_threshold_NG_det.pdf
pdf/corr_func_threshold_NG_overlap_2_20.pdf
pdf/corr_func_threshold_NG_overlap_2_21.pdf
pdf/corr_func_threshold_NG_overlap_2_22.pdf
pdf/corr_func_threshold_NG_overlap_2_23.pdf
pdf/corr_func_threshold_NG_overlap_2_24.pdf
pdf/corr_func_threshold_NG_overlap_21.pdf
pdf/corr_func_threshold_NG_overlap_22.pdf
pdf/corr_func_threshold_NG_overlap_23.pdf
pdf/corr_func_threshold_NG_overlap_24.pdf
pdf/corr_func_threshold_NG_overlap.pdf
pdf/corr_func_threshold_NG.pdf
pdf/corr_func_threshold_NN_det.pdf
pdf/corr_func_threshold_NN_overlap_21.pdf
pdf/corr_func_threshold_NN_overlap_22.pdf
pdf/corr_func_threshold_NN_overlap_23.pdf
pdf/corr_func_threshold_NN_overlap_24.pdf
pdf/corr_func_threshold_NN_overlap_det.pdf
pdf/corr_func_threshold_NN_overlap.pdf
pdf/corr_func_threshold_NN.pdf
pdf/corr_func_threshold_rand.pdf
pdf/corr_func.pdf
pdf/rand_coordinates_det.pdf
pdf/rand_coordinates.pdf
pdf/thre_coordinates_det.pdf
pdf/thre_coordinates.pdf
notebook/test.ipynb
examples/corr.py
examples/corr2
examples/shear_calc.py
err/shear_calc_v2.err
err/thre_image_NG_det.err
err/thre_image_NG_read.err
err/thre_image_NG.err
err/thre_image_NN_det_match.err
err/thre_image_NN_match.err
err/thre_image_NN_read.err
err/thre_image_NN.err
err/thre_image_rand_all.err
err/thre_image_rand_det.err
err/thre_image_rand_match.err
err/thre_image_rand.err
.gitignore
__pycache__/utilities.cpython-38.pyc
data/cat_rand.dat
data/cat_thre.dat
data/cat.dat
data/dec_rand_det_22.csv
data/dec_rand_det_gal_20.csv
data/dec_rand_det_gal_21.csv
data/dec_rand_det_gal_22.csv
data/dec_rand_det_gal_23.csv
data/dec_rand_det_gal_24.csv
data/dec_rand_det_match_20.csv
data/dec_rand_det_match_21.csv
data/dec_rand_det_match_22.csv
data/dec_rand_det_match_23.csv
data/dec_rand_det_match_24.csv
data/dec_rand_det_match.csv
data/dec_rand_det.csv
data/dec_rand_gal_20.csv
data/dec_rand_gal_21.csv
data/dec_rand_gal_22.csv
data/dec_rand_gal_23.csv
data/dec_rand_gal_24.csv
data/dec_rand_gal.csv
data/dec_rand_man_1.csv
data/dec_rand_man_gal_22.csv
data/dec_rand_man.csv
data/dec_rand_match_gal_20.csv
data/dec_rand_match_gal_21.csv
data/dec_rand_match_gal_22.csv
data/dec_rand_match_gal_23.csv
data/dec_rand_match_gal_24.csv
data/dec_rand_match_gal.csv
data/ng_corr_20.fits
data/ng_corr_21.fits
data/ng_corr_22.fits
data/ng_corr_23.fits
data/ng_corr_24.fits
data/ng_corr_det_20.fits
data/ng_corr_det_21.fits
data/ng_corr_det_22.fits
data/ng_corr_det_23.fits
data/ng_corr_det_24.fits
data/ng_corr_matched_20.fits
data/ng_corr_matched_21.fits
data/ng_corr_matched_22.fits
data/ng_corr_matched_23.fits
data/ng_corr_matched_24.fits
data/ng_corr_matched_det_20.fits
data/ng_corr_matched_det_21.fits
data/ng_corr_matched_det_22.fits
data/ng_corr_matched_det_23.fits
data/ng_corr_matched_det_24.fits
data/ng_corr_reduced.fits
data/ng_corr.fits
data/nn_corr_1.fits
data/nn_corr_det_match_21.fits
data/nn_corr_det_match_22.fits
data/nn_corr_det_match_23.fits
data/nn_corr_det_match_24.fits
data/nn_corr_det_match.fits
data/nn_corr_det.fits
data/nn_corr_gal.fits
data/nn_corr_match_gal_21.fits
data/nn_corr_match_gal_22.fits
data/nn_corr_match_gal_23.fits
data/nn_corr_match_gal_24.fits
data/nn_corr_match_gal.fits
data/nn_corr_reduced.fits
data/nn_corr.fits
data/ra_rand_det_22.csv
data/ra_rand_det_gal_20.csv
data/ra_rand_det_gal_21.csv
data/ra_rand_det_gal_22.csv
data/ra_rand_det_gal_23.csv
data/ra_rand_det_gal_24.csv
data/ra_rand_det_match_20.csv
data/ra_rand_det_match_21.csv
data/ra_rand_det_match_22.csv
data/ra_rand_det_match_23.csv
data/ra_rand_det_match_24.csv
data/ra_rand_det_match.csv
data/ra_rand_det.csv
data/ra_rand_det20_gal.csv
data/ra_rand_gal_20.csv
data/ra_rand_gal_21.csv
data/ra_rand_gal_22.csv
data/ra_rand_gal_23.csv
data/ra_rand_gal_24.csv
data/ra_rand_gal.csv
data/ra_rand_man_1.csv
data/ra_rand_man_gal_22.csv
data/ra_rand_man.csv
data/ra_rand_match_gal_20.csv
data/ra_rand_match_gal_21.csv
data/ra_rand_match_gal_22.csv
data/ra_rand_match_gal_23.csv
data/ra_rand_match_gal_24.csv
data/ra_rand_match_gal.csv
data/ra_rand20_gal.csv
data/s1_NG.csv
data/s1_thre_NG.csv
data/s1_thre.csv
data/s1.csv
data/s2_NG.csv
data/s2_thre_NG.csv
data/s2_thre.csv
data/s2.csv
thresh/mag_hist.py
thresh/thre_image.py
